.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 1rem;
  }
  .grid > div {
    background: #EDE7F6;
    padding: 1.5rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  
  .intro {
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .grid img {
    display : block;
    max-height: 100%;
    max-width: 100%;

 }

.ski {
    justify-content: center;
    align-items: center;
}

  body {
    margin: 2rem;
    font: 12px system-ui;
  }
